.infoCircuit{
    display: flex;
    flex: 2;
    margin-top: 10px;
}

.infoCircuit > aside{
    margin-left: 10px;    
}

.infoCircuit > img{
    width: 150px;
    height: 200px;  
}

.infoCircuit > aside p{
    margin: 0px;    
}