<h1 id="titre">Ajouter un pilote</h1>

<form class="ajout" action="/gestPilotes" method="POST" name="data" enctype="multipart/form-data">
    <div class="groupLb">
       <label>Prénom</label>
       <label>Nom</label>
       <label>Date de naissance</label>
       <label>Nationalité</label>
       <label>Ecurie</label>
       <label>Points</label>
       <label>Poids</label>
       <label>Taille</label>
       <label class="decalage">Description</label>
       <label>Sujet de la photo</label>
       <label class="decalage">Commentaire</label>
       <label>Photo officielle</label>
   </div>
    <div class="groupeInput">
            
        <input type="text" name="pilprenom" id="prenom" autofocus required />
        <input type="text" name="pilnom" id="nom" required />

        <input type="date" name="pildatenais" id="date" required />
            
        <select name="paynum" id="nation" required>
            {{#each nationalites}}
                <option value="{{this.paynum}}">{{this.paynat}}</option>
            {{/each}}
        </select>

        <select name="ecunum" id="ecurie">
            {{#each ecuries}}
                <option value="{{this.ecunum}}">{{this.ecunom}}</option>
            {{/each}}
        </select>

        <div class="lbInput">
            <input type="number" name="pilpoints" id="pts" required>pts</input>
        </div>
        <div class="lbInput">
            <input type="number" name="pilpoids" id="poids" required>kg</input>
        </div>
        <div class="lbInput">
            <input type="number" name="piltaille" id="taille" required>cm</input>
        </div>
        <textarea name="piltexte" id="desc" required></textarea>

        <input name="phosujet" type="text" required/>

        <textarea name="phocommentaire" required></textarea>

        <input name="phoadresse" type="file" required/>

        <input type="submit" value="AJOUTER" class="btnValider"/>
    </div>
</form>