<div class="connexion">
    <h1>Administration</h1>

    <form action="/connexion" method="post">
        <div><p>Login :</p> <input type="text" name="login" autofocus required/></div>
        <div><p>Mot de passe :</p> <input type="password" name="passwd" required/></div>

        <button>Annuler</button>
        <input type="submit" value="Connexion"></input>
    </form>  
</div>
