<div class="gestion">
    <img src="image/cat_finance.png" alt="MONEY" />
    <h1>Gestion des  Finances</h1>
    <a href="/addFinance"><img src="image/act_add.png" alt="Ajouter"/> Ajouter une finance</a>

    <table>
        <thead>
            <tr>
                <td>Sponsor</td>
                <td>Finance</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {{#each gestion}}
                <tr>
                    <td>{{this.sponom}}</td>
                    <td>{{this.ecunom}}</td>
                    <td><a href="/suppFinance/{{this.sponum}}/{{this.ecunum}}"><img src="image/act_delete.png" alt="Supprimer"/> Supprimer</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>